.form-group{
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    background-color: #F5EFE6;
}

h4{
    margin-left: 30%;
}


.btn-primary{
    align-self: center;
    margin: 10px; /* Espaçamento entre os botões */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 auto; 
  }


/* Responsividade */
@media (max-width: 1200px) {
    .form-group {
        padding: 0 20%;
    }

    .btn-primary {
        margin-left: 20%;
    }
}

@media (max-width: 768px) {
    .form-group {
        padding: 0 10%;
    }

    .btn-primary {
        margin-left: 10%;
    }
}

@media (max-width: 480px) {
    .form-group {
        padding: 0 5%;
    }

    .btn-primary {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}