main{
    margin: 5%;
    align-items: self;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-right: 80%;
}

.btn {
    /* Adicione estilos adicionais conforme necessário */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* Responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens verticalmente */
    }

    .button-container {
        flex-direction: column; /* Empilha os botões verticalmente em telas menores */
        align-items: center; /* Centraliza os botões verticalmente */
        margin-right: 0; /* Remove a margem direita */
        margin-top: 10px; /* Adiciona uma margem superior entre os botões */
    }
}